.ActionItem {
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
}

.ItemFragment {
    border: .2em solid midnightblue;
    background-color: slategrey;
}

.ItemLeftCap {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-right-style: none;
    width: 1.5em;
}

.ItemContent {
    border-left-style: none;
    border-right-style: none;
    flex-grow: 1;
}

.ItemRightCap {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-left-style: none;
    width: 1.5em;
}